
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li{
    padding:0 12px ;

}

.brand img{
    width: 6rem;
    padding:0px;
}
.brand span{
    position: absolute;
     margin-left:80px
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding-right: 80px;
}

.container{
    min-height:60vh;
    background-color: black;
    color: white;
    font-family: 'varela Round',sans-serif;
    display: flex;
    width:85%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./Assests/bg.png');
    background-repeat: no-repeat;
    background-size:100%;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 40px;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 35px;
    margin: 0 23px;
    border-radius: 45px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media screen and (min-width: 320px) and (max-width:510px) {
    .container{
        width:70%;
    }
    .songInfo {
        font-size:small;
    }
    .songName{
        font-size: small;
    }
    .songlistplay{
        display: flex;
        font-size: small;
    }
    .icons {
        margin-top: 20px;
        font-size: 10px;
    }

  }
  @media screen and (min-width: 320px) and (max-width:440px) {
    .brand img {
        margin-left: -12px;
    }
    nav ul li{
        padding:4px;
    }
    .brand span {
        font-size:1rem;
        margin-left: 60px;
    }
    nav a img{
      height:25px;
    }
    .songName{
        font-size:0.6rem;
    }
    .timestamp{
        font-size: 0.6rem;
    }
    .brand{
        padding-right:50px;
    }

  }
